<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paojiao.sdk">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--在SDCard中创建与删除文件权限  -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        >
        <service android:name="com.paojiao.sdk.service.FloatViewService"
            android:exported="true"/>
        <activity android:name="com.paojiao.sdk.H5WebViewActivity"/>
        <activity android:name="com.paojiao.sdk.CustomerServicesActivity"/>
    </application>

</manifest>
